
<div class='button'>
  <button class="new-movies">Populate New Movies</button>
</div>
<div class="sort">
  <div class="link">
    <%= link_to "sort by title", :sort => "title" %>
  </div>
  <div class="link">
    <%= link_to "sort by genre", :sort => "genre" %>
  </div >
  <div class="link">
    <%= link_to "sort by release date", :sort => "release_date"%>
  </div>
</div>

<div class="reviews-link">
  <%= link_to "ALL REVIEWS!", reviews_all_path %>
</div>


<div class="main-body">
  <div class="date"><%= Time.now.strftime("%B %d, %Y") %></div>
    <div class="movie-wrapper">
      <% @movies.each do |movie|%>
        <a href="/movies/<%=movie.id%>">
          <div data-id="<%=movie.id%>" class="movie-tile">
            <div class="movie-tile-inner">
              <img src="<%=movie.thumbnail%>" class="movie-thumbnail">
              <%=movie.title%>
            </div>
          </div>
        </a>
      <% end %>
    </div>
</div>